.runCodeButtonContainer {
  width: 100%;
  margin-top: 1.5%;
}

.runCodeButtonContainer button {
  float: right;
  width: 30%;
  height: 30px;
  min-width: 120px;
  background-color: green;
  border: 0;
  font-weight: bold;
  color: white;
  border-radius: 10px;
}
